@font-face {
    font-family: inter;
    src: url(../../assets/fonts/Inter-VariableFont_slnt\,wght.ttf);
}
.container-dashboard{
    height: 100vh;
    display: flex;
    flex-direction: row-reverse;
    background-color: #F8F7FF;
}

header {
    position: fixed;
    right: 0;
    margin: 1%;
    border-radius: 12px;
    width: 98%;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
header p {
    font-family: inter;
    margin: 10px;
    color: #ffffff;
    font-weight: 500;
}
h1{
    font-family: inter;
    margin: 10px;
    font-size: 30px !important;
    color: #ffffff !important;
}
.title-app{
    margin-right: 10px;
    width: 80%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 12px;
    background-color: #0475B9;
}
.logo-photo{
    margin-left: 5px;
    width: 60px;
    border-radius: 20px;
}
.logo-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.seach-container{
    width: 40%;
    margin-right: 10px;
}
.user-name{
    width: 20%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content:space-around;
    border-radius: 12px;
    background-color: #0475B9;
}
.user-photo{
    width: 50px;
    border-radius: 30px;
}
/* style content and table  */

.container-main{
    margin: 1%;
    margin-top: 7%;
    border-radius: 12px;
    width: 98%;
    display: flex;
    flex-direction: row;
}

.container-table{
    margin-right: 10px;
    width: 80%;
    height: 100%;
    display: flex;
    align-items: center;
    border-radius: 12px;
    background-color: #ffffff;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}
.container-content{
    width: 20%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    border-radius: 12px;
    background-color: #ffffff;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}

.btn-container-create{
    width: 80%;
    margin: 30px;
    margin-bottom: 50px;
}
.content-description{
    width: 90%;
    margin: 10px;
}