.btn-primary-save{
    width: 100%;
    height: 100%;
    font-weight: 400;
    background-color: #F88A00;
    color: #ffffff;
    font-weight: 400;
    border-radius: 5px;
    padding: 5px;
    border: none;
}
.btn-primary-save:hover{
    background-color: #dd7d08
}
.btn-save-container{
    width: 20%;
}