.btn-primary-edit{
    width: 100%;
    height: 100%;
    background-color: transparent;
    color: #0475B9;
    border: none;
}
.btn-primary-edit:hover{
    color: #0465a1;
}
.btn-edit-container{
    width: 25%;
}