h1 {
    color: #ffffff;
}

h2 {
    color: rgb(182, 183, 185);
}
.home{
    width: 100%;
    height: 100%;
    padding: 10px;
}
.btn-options{
    margin-left: 5px;
}
.table-borderless {
    border: none;
}
.table-borderless {
    border-collapse: collapse;
}

.table-borderless td,
.table-borderless th {
    border: none;
    color: #012547 !important;
}